.nav-logo {
    position: relative;
    width: 50px;
    height: 60px;
    display: inline-block;
}
.nav-logo img {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    height: 100%;
    width: auto !important;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a, .classy-nav-container .classy-navbar .classynav ul li.megamenu-item ul li a {
    font-size: 14px;
    text-transform: capitalize;
    height: auto;
    line-height: 1.2;
    padding: 10px 20px !important;
    color: #252525;
    word-break: break-word;
}
.classynav ul li.cn-dropdown-item ul li {
    word-break: break-all;
}
.custom-header .nav-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
.custom-header .nav-brand span {
    color: #fff;
    line-height: 1;
    padding: 0 15px;
}


.linebar2
{
    height: 80px;
    width: 100%;
    background-color: #800000;
}

.linebar2 h1
{
    text-align: center;
    color:#d4b050;
    padding-top: 12px;
}

.box4
{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}
.box4 span
{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 73deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
}
.box4 span img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.sec_img4
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2c0101;

}
.sec_img4 h1
{
    display: inline-block;
    color: #d4b050; 
    text-align: center;
    position: absolute; 
    margin-top: 200px;
    font-size: 35px;
    font-family: Montserrat, sans-serif;
    font-weight: 800;  
    text-transform: uppercase;
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
}
@keyframes animate{
    0%
    {
        transform:perspective(1000px) rotateY(0deg);
    }
    100%
    {
        transform:perspective(1000px) rotateY(360deg);
    }
}



.animate-charcter
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #800000 0%,
    #800000 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.libraryinsight {
    width: 100%;
    height: 80px;
    background-color: #800000;
}
.libraryinsight h1{
    text-align: center;
    color:#d4b050;
    padding-top: 12px;
}
.vmgo{
   width: 100%;
    height: 80px;
    background-color: #800000; 
}
.vmgo h1{
    text-align: center;
    color:#d4b050;
    padding-top: 12px;
}
.single-post-area::after {
    display: none;
    background-color: unset;
}
.single-post-area{
    box-shadow: 4rem 4rem 4rem rgba(0, 0, 0, 0.9);
}

.footer-area{
   background-color: #800000; 
}
.footer-area .copywrite-text p{
    color:#d4b050;
}

/* Page Header */
.page-header {
    background-image: url(../../front-office/img/bg-img/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-header::after {
    content: "";
    height: 25rem;
    background: #04040499;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.page-header .container {
    position: relative;
    z-index: 1;
}
.page-header .container h1 {
    color: #fff;
    text-align: center;
    margin-top: 35px;
}
.page-content .container {
    padding: 75px 25px;
}
li.active.cn-dropdown-item.has-down ul.dropdown li a::before {
    display: none;
}