.nav-logo {
    position: relative;
    width: 50px;
    height: 60px;
    display: inline-block;
}
.nav-logo img {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    height: 100%;
    width: auto !important;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a, .classy-nav-container .classy-navbar .classynav ul li.megamenu-item ul li a {
    font-size: 14px;
    text-transform: capitalize;
    height: auto;
    line-height: 1.2;
    padding: 10px 20px !important;
    color: #252525;
    word-break: break-word;
}
.classynav ul li.cn-dropdown-item ul li {
    word-break: break-all;
}
.custom-header .nav-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
.custom-header .nav-brand span {
    color: #fff;
    line-height: 1;
    padding: 0 15px;
}


.linebar2
{
    height: 80px;
    width: 100%;
    background-color: #800000;
}

.linebar2 h1
{
    text-align: center;
    color:#d4b050;
    padding-top: 12px;
}

.box4
{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}
.box4 span
{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 55deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
}
.box4 span img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #eee;
    cursor: pointer;
    transition: .2s;
}
.box4 span img:hover {
    border: 2px solid #ff7070;
}
.sec_img4
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2c0101;

}
.sec_img4 h1
{
    display: inline-block;
    color: #d4b050; 
    text-align: center;
    position: absolute; 
    margin-top: 200px;
    font-size: 35px;
    font-family: Montserrat, sans-serif;
    font-weight: 800;  
    text-transform: uppercase;
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
}
@keyframes animate{
    0%
    {
        transform:perspective(1000px) rotateY(0deg);
    }
    100%
    {
        transform:perspective(1000px) rotateY(360deg);
    }
}



.animate-charcter
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #800000 0%,
    #800000 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.libraryinsight {
    width: 100%;
    height: 80px;
    background-color: #800000;
}
.libraryinsight h1{
    text-align: center;
    color:#d4b050;
    padding-top: 12px;
}
.vmgo{
   width: 100%;
    height: 80px;
    background-color: #800000; 
}
.vmgo h1{
    text-align: center;
    color:#d4b050;
    padding-top: 12px;
}
.single-post-area::after {
    display: none;
    background-color: unset;
}
.single-post-area{
    box-shadow: 4rem 4rem 4rem rgba(0, 0, 0, 0.9);
}

.footer-area{
   background-color: #800000; 
}
.footer-area .copywrite-text p{
    color:#d4b050;
}

/* Page Header */
.page-header {
    background-image: url(../../front-office/img/bg-img/libraryinsight1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-header::after {
    content: "";
    height: 25rem;
    background: #04040499;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.page-header .container {
    position: relative;
    z-index: 1;
}
.page-header .container h1 {
    color: #fff;
    text-align: center;
    margin-top: 35px;
}
.page-content .container {
    padding: 75px 25px;
}
li.active.cn-dropdown-item.has-down ul.dropdown li a::before {
    display: none;
}

/* Collections */
.collecton-wrapper ul {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: start;
}
.collecton-wrapper ul li {
    width: 33.3333%;
}
.collecton-wrapper ul li {
    width: 33.3333%;
    padding: 10px 5px;
}
.col-items {
    box-shadow: 0px 3px 20px #0000001A;
    border-radius: 10px;
    background: #fff;
    position: relative;
    overflow: hidden;
}
.col-items .book-img {
    background-size: cover;
    height: 15rem;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.col-items .col-content {
    padding: 20px;
    border-bottom: 1px solid #eee;
}
.col-items .col-content h3 {
    color: #414141;
    font-size: 18px;
}
.col-items .col-content .desc {
    color: #414141;
    font-size: 12px;
    line-height: 1.2;
    margin: 0;
}
.book-detail {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    margin-bottom: 20px;
}
.book-detail .bditem i {
    color: #8a95a2;
    margin-right: 5px;
    font-size: 16px;
}
.col-footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 15px;
}
.col-footer .col-cat {
    font-size: 12px;
    font-weight: 600;
}
.col-footer .col-btn-view {
    font-size: 14px;
    background: #FF5722;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    transition: .2s;
}
.col-footer .col-btn-view:hover{
    background: #b23007;
}
.col-cat .fa { 
    font-size: 14px;
    color: #ff5722;
}
.view-books-modal .modal-body {
    padding: 0;
}
.book-modal-img {
    background-size: cover;
    height: 35rem;
    background-position: center;
    background-repeat: no-repeat;
}
.book-modal-content {
    padding: 20px;
}
.book-modal-content h2 {
    text-align: left;
    font-size: 28px;
    text-transform: uppercase;
}
.book-modal-content p {
    line-height: 1.2;
    font-size: 14px;
}
.more-info-wrapper {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 10px;
    background: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.more-info-wrapper .mi-header {
    background: #eee;
    padding: 10px 15px;
    color: #3b4144;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.more-info-wrapper .mi-content {
    padding: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.more-info-wrapper .mi-header i.fa {
    color: #ff5c08;
}
.more-info-wrapper .mi-content ul li {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px 10px;
}
.more-info-wrapper .mi-content ul {
    width: 50%;
}
.mi-content ul li .mi-title,
.mi-content ul li .details {
    width: 50%;
    font-size: 14px;
    color: #4f4f4f;
}
.mi-content ul li i {
    color: #bbb;
    font-size: 16px;
}
.avail-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #eee;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 33%;
    padding: 15px;
}
.avail-lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.avail-item .icon-b {
    font-size: 20px;
    background: #fff;
    line-height: 1;
    color: #4f4f4f;
    border-radius: 50%;
    padding: 10px;
}
.avail-qty h5 {
    font-size: 22px;
    color: #fff;
    text-align: right;
    margin: 0;
    line-height: 1;
}
.avail-qty span {
    font-size: 12px;
    color: #fff;
}
.avail-item.bg-success span.icon-b {
    background: #01d031;
    color: #fff;
}
.avail-item.bg-danger span.icon-b {
    background: #ff6f7c;
    color: #fff;
}
.avail-item.bg-primary span.icon-b {
    background: #66aaf3;
    color: #fff;
}
.loading-content {
    padding: 75px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loading-content span {
    color: #545454;
    margin-top: 40px;
    font-size: 20px;
}
.available-badge {
    color: #fff;
    position: absolute;
    bottom: 5px;
    padding: 7px 10px;
    font-size: 12px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.collection-filters form {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.collection-filters button {
    background: #ff5722;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    transition: .2s;
    cursor: pointer;
    outline: 0;
}
.collection-filters button:hover {
    background: #b23007;
}
.collection-filters form #keywords,
.collection-filters form #select_category {
    border: 1px solid #eee;
    width: 50%;
    font-size: 14px;
    outline: 0;
    padding: 15px 15px;
}