.transaction-list .tran-text {
    width: 400px;
}
#sidebar-menu > ul > li > a.active {
    background: #f4f8fb !important;
    border-left: 3px solid #f05050;
    color: #f05050 !important;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo span {
    position: relative;
    width: 100%;
}
.bg-custom {
    background-color: #be5f5f !important;
}
/* .Editor-container {
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 10px;
}
.Editor-editor {
    margin-top: 15px;
}
.form-group.form-editor .btn-group {
    margin: 2px;
} */