.m-auto{
    margin: 0 auto;
}
iframe {
    border: 2px solid #ef6c0e;
}
.d-none{
    display: none !important;
}

.f-12{
    font-size: 12px;
}
.f-15{
    font-size: 15px;
}
.f-20{
    font-size: 20px;
}

.pt-0{
    padding-top: 0 !important;
}

.p-0{
    padding: 0 !important;
}

.mr-10{
    margin-right: 10px !important;
}
button.abs-close {
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 50%;
}

.acc-img {
    position: relative;
    width: 135px;
    height: 135px;
    overflow: hidden;
    background: #8f9090;
    cursor: pointer;
    border: 2px solid #8f9090;
    margin: 0 auto;
    margin-bottom: 20px;
}

.login-logo {
    position: relative;
    width: 100%;
    height: 70px;
    cursor: pointer;
    margin: 0 auto;
}

.banner-img {
    position: relative;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    overflow: hidden;
}
.plain-logo {
    width: 158px;
    height: 40px;
    cursor: pointer;
    position: relative;
}

.plain-logo2 {
    position: relative;
    width: 70px;
    height: 45px;
    cursor: pointer;
    margin: -5px auto;
}

.user-img {
    position: relative;
    width: 70px;
    height: 70px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #f05050;
}
.top-prof-img {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid#f05050;
    margin-top: 5px;
    background: #f05050;
}
.post-img-disp {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    border: 1px solid #eee;
    margin: 3px auto;
    border-radius: 5px;
}
.acc-img img,
.login-logo img,
.plain-logo img,
.plain-logo2 img,
.banner-img img,
.user-img img,
.post-img-disp img,
.top-prof-img img,
.new-post-img img {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    height: 100%;
    width: auto !important;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.cust-mod-edit-prof {
    position: absolute;
    right: 0;
    top: 104px;
    background: #ff9b28;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 11px;
}

i.upload-icon {
    position: absolute;
    right: 0;
    left: 35px;
    height: 100%;
    top: 30px;
    width: 100%;
    opacity: 0;
    font-size: 70px;
    color: #797676;
    cursor: pointer;
}

.input-img {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    top: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.acc-img:hover {
    border: 2px dashed #8f9090;
    opacity: 0.5;
}

.acc-img:hover > i.fa.upload-icon {
    opacity: 1;
}

.add-info, .rem-info {
    position: absolute;
    right: 0;
    border-radius: 50%;
    padding: 0px 4px;
    color: #fff;
}

.add-info{
    top: 35px;
    background: #5fccd4;
}

.add-info:hover{
    background: #26a1aa;
}

.rem-info{
    top: 35px;
    background: #d45f74;
}

.rem-info:hover{
    background: #a83147;
}

.m-t-25{
    position: relative;
}


.m-t-20{
    margin-top: 20px;
}

.m-t-10{
    margin-top: 10px;
}

.m-t-5{
    margin-top: 5px;
}

.d-none{
    display: none;
}

img.icon-c-logo.comp-logo {
    margin: 10px auto;
}

.card-body.drop-images{
    padding: 3.25rem;
    border: 2px solid #ece7e7;
}

.card-body.drop-images:hover {
    border: 2px dashed #ff9b28 !important;
}

input.drag-files {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    top: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.tbl-img {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 0 auto;
    padding: 3px;
    overflow: hidden;
}

.prof-img {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
}

.gal-img {
    position: relative;
    width: 100%;
    height: 130px;
    overflow: hidden;
    margin: 0 auto;
}

.gal-del {
    background: #d01414;
    color: #fff;
    border-radius: 50%;
    padding: 2px 6px;
    position: absolute;
    right: 5px;
    top: -10px;
    opacity: .8;
    cursor: pointer;
    z-index: 1;
}

.gal-del:hover{
    opacity: 1;
}

.row.gallery-wrapper {
    height: 45rem;
    overflow-y: scroll;
    padding: 15px 0;
}

.small-img{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #e1e4e4;
}

.tbl-img img, .prof-img img, .gal-img img, .inbox-widget .small-img img{
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    height: 100%;
    width: auto !important;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.property-img.highlight{
    border: 3px solid #ff9b28;
}

.shadow-hover:hover{
    -webkit-box-shadow: 0px 1px 10px 0px #bfbfbf;
    -moz-box-shadow: 0px 1px 10px 0px #bfbfbf;
    box-shadow: 0px 1px 10px 0px #bfbfbf;
}

.property-img:hover{
    -webkit-box-shadow: 0px 3px 10px -5px #151115;
    -moz-box-shadow: 0px 3px 10px -5px #151115;
    box-shadow: 0px 3px 10px -5px #151115;
}


.cust-mod-close {
    position: absolute;
    right: 0;
    top: 0;
    background: #ef0a0a;
    border-radius: 50%;
    padding: 1px 6px;
}

.cust-mod-close:hover{
    background: #d80d0d;
}

.navbar-blue {
    background: #018795;
}

.ellipsis-txt{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.b-100{
    font-weight: 100;
}

.b-700{
    font-weight: 700;
}

.bg-picture {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    position: relative;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    -moz-box-shadow: unset;
}

.btn.edit-btn {
    position: absolute;
    right: 40%;
    left: 54%;
    top: 145px;
    width: 35px;
}

.d-block{
	display: block;
}

.pac-container.pac-logo {
    z-index: 9999;
}

td.ad-img-tbl {
    width: 150px;
}

.previewPost .modal-header {
    border: 0;
}

.text-capital {
    text-transform: uppercase;
}

span.label.label-danger.fl-lbl {
    position: absolute;
    bottom: 0;
    font-size: 8px;
}

span.inbx-delete {
    position: absolute;
    right: 5px;
    top: 20px;
    font-size: 20px;
}

span.inbx-delete:hover {
    color: #8a2b2b;
}
.post-wrapper .media .media-heading {
    font-size: 20px;
    margin-bottom: 0;
}
.post-wrapper .media:last-of-type {
    margin-bottom: 0px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}
.post-wrapper .media {
    border-bottom: 1px solid #eee;
}
.side-menu.left {
    box-shadow: 0 0px 5px 0 rgb(165, 165, 165), 0 0px 5px 0 rgb(173, 173, 173);
    -moz-box-shadow: 0 0px 5px 0 rgb(165, 165, 165), 0 0px 5px 0 rgb(173, 173, 173);
    -webkit-box-shadow: 0 0px 5px 0 rgb(165, 165, 165), 0 0px 5px 0 rgb(173, 173, 173);
}
table span.ttl{
    display: none;
}
div#paypal-button iframe {
    border: 0;
}
/* common */
.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: 0;
    content: '';
    display: block;
    border: 5px solid #2980b9;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 222px;
    padding: 10px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px
    rgba(0,0,0,.1);
    color:
    #fff;
    font: 700 16px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px
    rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
}
  
/* top left*/
.ribbon-top-left {
    top: -10px;
    left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}
.ribbon-top-left::before {
    top: 0;
    right: 0;
}
.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}
.ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
}

  /* top right*/
.ribbon-top-right {
    top: -10px;
    right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}
.ribbon-top-right::before {
    top: 0;
    left: 8px;
}
.ribbon-top-right::after {
    bottom: 30px;
    right: 0;
}
.ribbon-top-right span {
    left: -19px;
    top: 30px;
    transform: rotate(40deg);
}
  
/* bottom left*/
.ribbon-bottom-left {
    bottom: -10px;
    left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.ribbon-bottom-left::before {
    bottom: 0;
    right: 0;
}
.ribbon-bottom-left::after {
    top: 0;
    left: 0;
}
.ribbon-bottom-left span {
    right: -25px;
    bottom: 30px;
    transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
    bottom: -10px;
    right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.ribbon-bottom-right::before {
    bottom: 0;
    left: 0;
}
.ribbon-bottom-right::after {
    top: 0;
    right: 0;
}
.ribbon-bottom-right span {
    left: -25px;
    bottom: 30px;
    transform: rotate(-225deg);
}
input[type="date"].form-control, input[type="time"].form-control, input[type="datetime-local"].form-control, input[type="month"].form-control{
    line-height: initial;
}
.new-post-img {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    background:#fff;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 10px;
    border: 2px solid#ff9b28;
}
.cust-mod-close2 {
    position: absolute;
    right: 4px;
    top: 0;
    background:#ef0a0a;
    border-radius: 50%;
    padding: 0 5px;
    font-size: 15px;
}

.count-card-summary .widget-style-2 i {
    background: none !important;
    font-size: 48px;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.count-card-summary .widget-panel {
    padding: 30px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}
a#p-ad-link {
    word-break: break-all;
}
.permission-list {
    border-left: 1px solid #eee;
    padding-left: 20px;
    height:70rem;
}
.permission-list .list-group-item.active {
    padding: 8px 10px;
    background-color: #31b4c1;
    border-color: #31b4c1;
}
.permission-list .list-group-item {
    padding: 0px 10px;
}
.permission-list .list-group {
    margin-bottom: 5px;
}
.iti.iti--allow-dropdown.iti--separate-dial-code .parsley-errors-list {
    margin-bottom: 20px;
    display: none;
}